@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
@section head {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="~/"></script>

    <script>
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
}

@Html.AntiForgeryToken()
<div class="wpb_column vc_column_container vc_col-sm-6">
    <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="stm_rent_car_form_wrapper style_1 text-right ">
                <div class="stm_rent_car_form">

                    <h4>KİRALAMA BİLGİLERİ</h4>
                    <div class="stm_rent_form_fields">
                        <h4 class="stm_form_title">Place to pick up the Car*</h4>
                        <div class="stm_pickup_location">
                            <i class="stm-service-icon-pin"></i>
                            <select name="pickup_location" data-class="stm_rent_location" id="startLocations">
                                <option value="">Ofis Seçiniz</option>
                            </select>
                        </div>
                        <label>
                            <input type="checkbox" name="return_same" checked />
                            Aynı lokasyona döneceğim
                        </label>
                        <div class="stm_date_time_input">
                            <h4 class="stm_form_title">Kiralama Tarihi*</h4>
                            <div class="stm_date_input">
                                <input type="text" value="" class="stm-date-timepicker-start" name="pickup_date" placeholder="Kiralama Tarihi" required readonly />
                                <i class="stm-icon-date"></i>
                            </div>
                        </div>
                    </div>

                    <h4>TESLİMAT BİLGİLERİ</h4>
                    <div class="stm_rent_form_fields stm_rent_form_fields-drop">
                        <div class="stm_same_return ">
                            <h4 class="stm_form_title">Teslimat Yeri*</h4>
                            <div class="stm_pickup_location stm_drop_location">
                                <i class="stm-service-icon-pin"></i>
                                <select name="drop_location" data-class="stm_rent_location" id="dropLocations">
                                    <option value="">Teslimat Yeri</option>
                                </select>

                            </div>
                        </div>
                        <div class="stm_date_time_input">
                            <h4 class="stm_form_title">Teslimat Tarihi*</h4>
                            <div class="stm_date_input">
                                <input type="text" class="stm-date-timepicker-end" name="return_date" value="" placeholder="Teslimat Tarihi" required readonly />
                                <i class="stm-icon-date"></i>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="order_old_days" value="1" />
                    <div class="form-btn-wrap">
                        <button type="submit" class="redirectSubmit">
                            Araçları Lİstele<i class="fas fa-arrow-right"></i>
                        </button>
                    </div>

                </div>
            </div>

            <script>
                (function ($) {
                    "use strict";

                    $(document).ready(function () {
                        GetLocations("startLocations");
                        $('input[name="return_same"]').on('change', function () {
                            if ($(this).prop('checked')) {
                                $('.stm_same_return').slideUp();
                                $("#dropLocations").find('option')
                                    .remove()
                                    .end()
                                    .append('<option value="">Teslimat Yeri</option>')
                                    .val('');
                                $("#dropLocations option").val($('#startLocations option').filter(':selected').val());
                            } else {
                                GetLocations("dropLocations");
                                $('.stm_same_return').slideDown();
                            }
                        });

                        $('.stm_pickup_location select').on('select2:open', function () {
                            $('body').addClass('stm_background_overlay');
                            $('.select2-container').css('width', $('.select2-dropdown').outerWidth());
                        });

                        $('.stm_pickup_location select').on('select2:close', function () {
                            $('body').removeClass('stm_background_overlay');
                        });

                        $('.stm_date_time_input input').on('change', function () {
                            if ($(this).val() == '') {
                                $(this).removeClass('active');
                            } else {
                                $(this).addClass('active');
                            }
                        });


                        var locations = [
                            ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Arlington Heights<\/div><div class='address'><i class='stm-icon-pin'><\/i>45 W. Lincoln St.  Arlington, NC 28655<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +8448 3532423<\/div><div class='fax'>Fax: +8448 3532425<\/div><\/div><div class='stm_work_hours'><i class='stm-icon-time'><\/i>Mon - Fri: 09:00AM - 09:00PM<br\/> Saturday: 09:00AM - 07:00PM<br\/> Sunday: Closed<\/div><a href='https:\/\/www.google.com\/maps\/place\/34.068675,-118.322816' target='_blank'><img src='https:\/\/maps.googleapis.com\/maps\/api\/staticmap?zoom=13&size=253x253&markers=color:red%7Clabel:C%7C34.068675,-118.322816&key=AIzaSyDRiOJcH5jlSFqsAFGOgkGLZ02XvQSMTHo' \/><\/a><\/div>", "34.068675", "-118.322816", 0, "Arlington Heights", 486],
                            ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Downtown<\/div><div class='address'><i class='stm-icon-pin'><\/i>208 Manhattan St.  Downtown, FL 33823<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +9945 68548345<\/div><div class='fax'>Fax: +9945 68548346<\/div><\/div><div class='stm_work_hours'><i class='stm-icon-time'><\/i>Mon - Fri: 09:00AM - 09:00PM<br\/> Saturday: 09:00AM - 07:00PM<br\/> Sunday: Closed<\/div><a href='https:\/\/www.google.com\/maps\/place\/34.106331,-118.284820' target='_blank'><img src='https:\/\/maps.googleapis.com\/maps\/api\/staticmap?zoom=13&size=253x253&markers=color:red%7Clabel:C%7C34.106331,-118.284820&key=AIzaSyDRiOJcH5jlSFqsAFGOgkGLZ02XvQSMTHo' \/><\/a><\/div>", "34.106331", "-118.284820", 1, "Downtown", 485],
                            ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>West Hollywood<\/div><div class='address'><i class='stm-icon-pin'><\/i>Santa Monica Blvd, Hollywood, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +2245 546456<\/div><div class='fax'>Fax: +2245 546457<\/div><\/div><div class='stm_work_hours'><i class='stm-icon-time'><\/i>Mon - Fri: 09:00AM - 09:00PM<br\/> Saturday: 09:00AM - 07:00PM<br\/> Sunday: Closed<\/div><a href='https:\/\/www.google.com\/maps\/place\/34.090009,-118.361744' target='_blank'><img src='https:\/\/maps.googleapis.com\/maps\/api\/staticmap?zoom=13&size=253x253&markers=color:red%7Clabel:C%7C34.090009,-118.361744&key=AIzaSyDRiOJcH5jlSFqsAFGOgkGLZ02XvQSMTHo' \/><\/a><\/div>", "34.090009", "-118.361744", 2, "West Hollywood", 484],
                            ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Hollywood<\/div><div class='address'><i class='stm-icon-pin'><\/i>1156 Hollywood ave, CA, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +1 212-698-1245<\/div><div class='fax'>Fax: +1 212-698-1246<\/div><\/div><div class='stm_work_hours'><i class='stm-icon-time'><\/i>Mon - Fri: 09:00AM - 09:00PM<br\/> Saturday: 09:00AM - 07:00PM<br\/> Sunday: Closed<\/div><a href='https:\/\/www.google.com\/maps\/place\/34.096751,-118.329728' target='_blank'><img src='https:\/\/maps.googleapis.com\/maps\/api\/staticmap?zoom=13&size=253x253&markers=color:red%7Clabel:C%7C34.096751,-118.329728&key=AIzaSyDRiOJcH5jlSFqsAFGOgkGLZ02XvQSMTHo' \/><\/a><\/div>", "34.096751", "-118.329728", 3, "Hollywood", 99],
                            ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Koreatown<\/div><div class='address'><i class='stm-icon-pin'><\/i>Koreatown S Ardmore ave, LA, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +1 212-698-1245<\/div><div class='fax'>Fax: +1 212-698-1246<\/div><\/div><div class='stm_work_hours'><i class='stm-icon-time'><\/i>Mon - Fri: 09:00AM - 09:00PM<br\/> Saturday: 09:00AM - 07:00PM<br\/> Sunday: Closed<\/div><a href='https:\/\/www.google.com\/maps\/place\/34.065325,-118.234669' target='_blank'><img src='https:\/\/maps.googleapis.com\/maps\/api\/staticmap?zoom=13&size=253x253&markers=color:red%7Clabel:C%7C34.065325,-118.234669&key=AIzaSyDRiOJcH5jlSFqsAFGOgkGLZ02XvQSMTHo' \/><\/a><\/div>", "34.065325", "-118.234669", 4, "Koreatown", 98]
                        ];
                        var contents = [];
                        var content = '';
                        var i = 0;


                        for (i = 0; i < locations.length; i++) {
                            content = '<ul class="stm_locations_description text-right_position">';
                            content += '<li>' + locations[i][0] + '</li>';
                            content += '</ul>';

                            contents.push(content);
                        }

                        $(document).on('mouseover', '.stm_rent_location .select2-results__options li', function () {
                            var currentLi = ($(this).index()) - 1;
                            $('.stm_rent_location .stm_locations_description').remove();
                            $('.stm_rent_location').append(contents[currentLi]);
                        });

                        var stmStartVal = $('.stm-date-timepicker-start').val();
                        var stmEndVal = $('.stm-date-timepicker-end').val();

                        /*Timepicker*/
                        var stmToday = new Date();
                        var stmTomorrow = new Date(+new Date() + 86400000);
                        var stmStartDate = false;
                        var stmEndDate = false;
                        var startDate = (stmStartVal != '') ? stmStartVal : false;
                        var endDate = (stmEndVal != '') ? stmEndVal : false;
                        var dateTimeFormat = 'F j, Y H:i';
                        var dateTimeFormatHide = 'YYYY-MM-DD HH:mm';




                        $('.stm-date-timepicker-start').datetimepicker({
                            formatTime: 'H:i',
                            formatDate: 'Y-m-d',
                            format: dateTimeFormat,
                            dayOfWeekStart: 1,
                            defaultDate: stmToday,
                            defaultSelect: false,
                            closeOnDateSelect: false,
                            timeHeightInTimePicker: 40,
                            validateOnBlur: false,
                            fixed: false,
                            lang: 'en',
                            onShow: function (ct) {
                                $('body').addClass('stm_background_overlay stm-lock');

                                var stmEndDate = $('.stm-date-timepicker-end').val() ? moment($('.stm-date-timepicker-end').val()).format(dateTimeFormatHide) : false;

                                if (stmEndDate) {
                                    stmEndDate = stmEndDate.split(' ');
                                    stmEndDate = new Date(stmEndDate[0]);
                                }

                                this.setOptions({
                                    minDate: new Date(),
                                    maxDate: stmEndDate
                                });

                                $(".xdsoft_time_variant").css('margin-top', '-600px');
                            },
                            onSelectDate: function () {
                                $('.stm-date-timepicker-start').datetimepicker('close');

                                $('.xdsoft_time').removeClass('xdsoft_current');
                            },
                            onClose: function (ct, $i) {
                                startDate = ct;

                                if (ct < new Date()) {
                                    $('.stm-date-timepicker-start').datetimepicker('reset');
                                }

                                $('.stm-date-timepicker-start').attr('data-dt-hide', moment(ct).format('M/D/YYYY HH:mm'));

                                if (startDate && endDate) {
                                    checkDate(moment(startDate).format(dateTimeFormatHide), moment(endDate).format(dateTimeFormatHide));
                                }

                                $('body').removeClass('stm_background_overlay stm-lock');

                            },
                            onGenerate: function () {
                                if ($('.stm-date-timepicker-start').val() == '') {
                                    $('.xdsoft_time').removeClass('xdsoft_current');
                                }
                            }
                        });

                        $('.stm-date-timepicker-end').datetimepicker({
                            formatTime: 'H:i',
                            formatDate: 'Y-m-d',
                            format: dateTimeFormat,
                            dayOfWeekStart: 1,
                            defaultDate: stmTomorrow,
                            defaultSelect: false,
                            closeOnDateSelect: false,
                            timeHeightInTimePicker: 40,
                            validateOnBlur: false,
                            fixed: false,
                            lang: 'en',
                            onShow: function (ct) {
                                $('body').addClass('stm_background_overlay stm-lock');

                                var stmStartDate = $('.stm-date-timepicker-start').val() ? moment(startDate).add(1, 'day').format(dateTimeFormatHide) : false;

                                if (stmStartDate) {
                                    stmStartDate = stmStartDate.split(' ');
                                    stmStartDate = new Date(stmStartDate[0]);
                                } else {
                                    stmStartDate = new Date();
                                }

                                //if($('.stm-date-timepicker-end').val()) stmStartDate = new Date($('.stm-date-timepicker-end').val().split(' ')[0]);

                                this.setOptions({
                                    minDate: stmStartDate
                                })
                            },
                            onSelectDate: function () {
                                $('.xdsoft_time').removeClass('xdsoft_current');
                                $('.stm-date-timepicker-end').datetimepicker('close');
                            },
                            onClose: function (ct, $i) {
                                endDate = ct;

                                if (ct < new Date()) {
                                    $('.stm-date-timepicker-end').datetimepicker('reset');
                                }

                                $('.stm-date-timepicker-end').attr('data-dt-hide', moment(ct).format('M/D/YYYY HH:mm'));

                                if ($('.stm-date-timepicker-start').val() != '' && $('.stm-date-timepicker-end').val() != '') {
                                    checkDate(moment(startDate).format(dateTimeFormatHide), moment(endDate).format(dateTimeFormatHide));
                                }

                                var s = moment(startDate);
                                var e = moment(ct);

                                if (e.diff(s) < 0) {
                                    s = s.add('days', 1);

                                    $('.stm-date-timepicker-end').val('');
                                    $('.stm-date-timepicker-end').attr('data-dt-hide', '');

                                    s = s.format(dateTimeFormatHide);
                                    s = s.split(' ');
                                    s = new Date(s[0]);

                                    this.setOptions({
                                        minDate: s,
                                        defaultDate: s
                                    })

                                    $('.stm-date-timepicker-end').datetimepicker(reset);
                                }

                                $('body').removeClass('stm_background_overlay stm-lock');
                            },
                            onGenerate: function () {
                                if ($('.stm-date-timepicker-end').val() == '') {
                                    $('.xdsoft_time').removeClass('xdsoft_current');
                                }
                            }
                        });

                        $('.clear-data').on('click', function (e) {
                            e.preventDefault();

                            $('.stm_rent_car_form form').attr('action', 'reservation/index.html');

                            jQuery.ajax({
                                url: ajaxurl,
                                type: "GET",
                                dataType: 'json',
                                context: this,
                                data: 'action=stm_ajax_clear_data&security=' + clearData,
                                success: function (data) { }
                            });

                            $.each($('.stm_rent_car_form form').serializeArray(), function (i, field) {
                                if (field.name == 'pickup_location' || field.name == 'drop_location') {
                                    $("select[name='pickup_location']").val('').trigger('change');
                                    $("select[name='drop_location']").val('').trigger('change');
                                } else {
                                    $('input[name="' + field.name + '"]').attr('value', '');
                                    $('input[name="' + field.name + '"]').attr('data-dt-hide', '');
                                }

                                $.cookie('stm_' + field.name + '_' + stm_site_blog_id, '', {
                                    expires: -1,
                                    path: '/'
                                });
                                $.cookie('stm_car_watched', '', {
                                    expires: -1,
                                    path: '/'
                                });
                            });

                            $(this).hide();

                            return false;
                        });

                        /*Set cookie with order data*/
                        $('.redirectSubmit').click(function (e) {

                            var error = false;
                            $('.stm_pickup_location').removeClass('stm_error');
                            $('input[name="pickup_date"]').removeClass('stm_error');
                            $('input[name="return_date"]').removeClass('stm_error');

                            /*Save in cookies all fields*/
                            if ($.cookie('stm_pickup_date_' + stm_site_blog_id) != null) {
                                $.cookie('stm_pickup_date_old_' + stm_site_blog_id, $.cookie('stm_pickup_date_' + stm_site_blog_id), {
                                    expires: 7,
                                    path: '/'
                                });
                                $.cookie('stm_return_date_old_' + stm_site_blog_id, $.cookie('stm_return_date_' + stm_site_blog_id), {
                                    expires: 7,
                                    path: '/'
                                });
                            }

                            $.each($(this).serializeArray(), function (i, field) {
                                $.cookie('stm_' + field.name + '_' + stm_site_blog_id, encodeURIComponent(field.value), {
                                    expires: 7,
                                    path: '/'
                                });

                                if (field.name == 'pickup_date' || field.name == 'return_date') {

                                    if (typeof $('input[name="' + field.name + '"]').attr('data-dt-hide') == 'undefined' || $('input[name="' + field.name + '"]').attr('data-dt-hide') == '') {

                                        $('input[name="' + field.name + '"]').addClass('stm_error');
                                        error = true;
                                    } else {
                                        $('input[name="' + field.name + '"]').removeClass('stm_error');
                                        error = false;
                                    }

                                    $.cookie('stm_calc_' + field.name + '_' + stm_site_blog_id, (typeof $('input[name="' + field.name + '"]').attr('data-dt-hide') != 'undefined') ? $('input[name="' + field.name + '"]').attr('data-dt-hide') : '', {
                                        expires: 7,
                                        path: '/'
                                    });
                                }
                            });


                            if (!$('input[name="return_same"]').prop('checked')) {
                                $.cookie('stm_return_same_' + stm_site_blog_id, "off", {
                                    expires: 7,
                                    path: '/'
                                });
                            }

                            var stm_pickup_location = $('.stm_pickup_location select').val();
                            var return_same = $('input[name="return_same"]').prop('checked');
                            var stm_drop_location = $('.stm_drop_location select').val();
                            if (stm_pickup_location == '') {
                                $('.stm_pickup_location:not(".stm_drop_location")').addClass('stm_error');
                                error = true;
                            }

                            if (return_same == '' && stm_drop_location == '') {
                                $('.stm_drop_location').addClass('stm_error');
                                error = true;
                            }

                            if (return_same == '' && stm_drop_location == '') {
                                $('.stm_drop_location').addClass('stm_error');
                                error = true;
                            }

                            if ($('input[name="pickup_date"]').attr('data-dt-hide') == undefined || $('input[name="pickup_date"]').attr('data-dt-hide') == '') {

                                $('input[name="pickup_date"]').addClass('stm_error');
                                error = true;
                            }

                            if ($('input[name="return_date"]').attr('data-dt-hide') == undefined || $('input[name="return_date"]').attr('data-dt-hide') == '') {

                                $('input[name="return_date"]').addClass('stm_error');
                                error = true;
                            }

                            if (error) {
                                e.preventDefault();
                                return;
                            }
                            var obj = {
                                pickupLocNo: $('#startLocations option').filter(':selected').val(),
                                pickupDate: moment(startDate).format(dateTimeFormatHide),
                                returnLocNo: $('input[name="return_same"]').prop('checked') == true ? $('#startLocations option').filter(':selected').val() : $('#dropLocations option').filter(':selected').val(),
                                returnDate: moment(endDate).format(dateTimeFormatHide),
                                classNos: [785, 758, 784, 787, 759, 788, 797, 760, 789, 762, 794, 795, 796, 793, 792, 790, 791, 786],
                                tariffNos:[380,381],
                                language: "TR",
                                orderby: "default"
                            };
                            window.location.href = `web/Reservation?obj=${JSON.stringify(obj)}`;
                        });

                        $('.stm-template-car_rental .stm_rent_order_info .image.image-placeholder a').on('click', function (e) {
                            var $stmThis = $('.stm_rent_car_form form');
                            $stmThis.trigger('submit');
                            e.preventDefault();
                        });

                        $('body').on('click touchstart', '.stm-rental-overlay', function (e) {
                            $('.stm-date-timepicker-start').trigger('blur');
                            $('.stm-date-timepicker-end').trigger('blur');
                            $('.xdsoft_datetimepicker').hide();
                            $('body').removeClass('stm_background_overlay');
                        });

                    });

                })(jQuery);
                function checkDate($start, $end) {

                    var locationId = jQuery('select[name="pickup_location"]').select2("val");
                    var stm_timeout_rental;
                    if (locationId != '') {
                        jQuery.ajax({
                            url: ajaxurl,
                            type: "GET",
                            dataType: 'json',
                            context: this,
                            data: 'startDate=' + $start + '&endDate=' + $end + '&action=stm_ajax_check_is_available_car_date&security=' + availableCarDate,
                            success: function (data) {
                                jQuery("#select-vehicle-popup").attr("href", $("#select-vehicle-popup").attr('href').split("?")[0] + "?pickup_location=" + locationId);
                                if (data != '') {
                                    clearTimeout(stm_timeout_rental);
                                    jQuery('.choose-another-class').addClass('single-add-to-compare-visible');
                                    jQuery(".choose-another-class").addClass('car-reserved');
                                    jQuery(".choose-another-class").find(".stm-title.h5").html(data);
                                    stm_timeout_rental = setTimeout(function () {
                                        jQuery('.choose-another-class').removeClass('single-add-to-compare-visible').removeClass('car-reserved');
                                    }, 10000);
                                }
                            }
                        });
                    }
                }
                function GetLocations(locations) {
                           $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLocations", "Reservation")",
                    dataType: "json",
                    cache: false,
                         success: function (retval) {
                        for (var i = 0; i < retval.length; i++) {
                            var o = new Option(retval[i].cityName, retval[i].locNo);
                            /// jquerify the DOM object 'o' so we can use the html method
                            $(o).html(retval[i].locName);
                            $("#"+locations+'').append(o);
                        }
                    },
                               error: function () {
                                   console.log("ReservatinDate_Hata");
                    }
                });
                }

            </script>
        </div>
    </div>
</div>
