@inherits UmbracoViewPage<Umbraco.Web.UI.Dto.CapacitiesResponseDto[]>
@{
    Layout = null;
}
@if (Model != null) {
                var item = Model[0];
        <div class="stm-fullwidth-with-parallax-bg">
            <div class="container">
                <div class="stm_wizard_title heading-font">
                    Rezervasyon
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="stm_nav_wizard_step stm_nav_wizard_step_1">

                            <div class="inner ">
                                <a class="top heading-font external" rel="nofollow">
                                    <div class="number">
                                        <span>1</span>
                                    </div>
                                    <label>Kiralama Bilgileri</label>
                                </a>
                                <div class="content">
                                    <div class="first">
                                        <h5>Başlangıç</h5>
                                        <div class="stm_filled_pickup_location">@item.pickupLocName</div>
                                        <div class="stm_filled_pickup_date">@item.pickupDate</div>
                                    </div>
                                    <div class="second">
                                        <h5 class="second">TESLİM</h5>
                                        <div class="stm_filled_return_location">@item.returnLocName</div>
                                        <div class="stm_filled_return_date">@item.returnDate</div>
                                    </div>
                                    <div class="third">
                                           <a href="~/date"><br>Tarih Güncelle</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="stm_nav_wizard_step stm_nav_wizard_step_2">

                            <div class="inner current">
                                <a class="top heading-font external" rel="nofollow">
                                    <div class="number">
                                        <span>2</span>
                                    </div>
                                    <label>Araç ve Ek Hizmet Seçimi</label>
                                </a>
                                <div class="content">
                                    <div class="first">
                                        <h5>Araç</h5>
                                        <div>--</div>
                                    </div>
                                    <div class="second">
                                        <h5>Ek HİZMETLER</h5>
                                        <div>--</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="stm_nav_wizard_step stm_nav_wizard_step_3">

                            <div class="inner ">
                                <a class="top heading-font external" rel="nofollow">
                                    <div class="number">
                                        <span>3</span>
                                    </div>
                                    <label>Rezervasyon Bilgileri</label>
                                </a>
                                <div class="content">
                                    <div class="first">
                                        <h5>Rezervasyon SAHİBİ</h5>
                                        <div>--</div>
                                    </div>
                                    <div class="second">
                                        <h5>Ödeme BİLGİSİ</h5>
                                        <div>
                                            --
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

