@inherits UmbracoViewPage<Umbraco.Web.UI.Dto.ReservationRequestDto>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}

<div class="stm_nav_wizard_step stm_nav_wizard_step_2">

    <div class="inner current">
        <a href="~/Views/Partials/Reservation/_Reservation.cshtml" class="top heading-font external" rel="nofollow">
            <div class="number">
                <span>2</span>
            </div>
            <label>Select Vehicle/Add-ons</label>
        </a>
        <div class="content">
            <div class="first">
                <h5>Type</h5>
                <div>--</div>
            </div>
            <div class="second">
                <h5>Addons</h5>
                <div>--</div>
            </div>
        </div>
    </div>
</div>
