@inherits UmbracoViewPage<Umbraco.Web.UI.Dto.ReservationRequestDto>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
@section head {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="~/"></script>

    <script>
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
}
<div class="stm_nav_wizard_step stm_nav_wizard_step_1">

    <div class="inner ">
        <a href="~/Views/Partials/Reservation/_ReservationDate.cshtml" class="top heading-font external" rel="nofollow">
            <div class="number">
                <span>1</span>
            </div>
            <label>Your Itinerary</label>
        </a>
        <div class="content">
            <div class="first">
                <h5>Pick up</h5>
                <div class="stm_filled_pickup_location">--</div>
                <div class="stm_filled_pickup_date">--</div>
            </div>
            <div class="second">
                <h5 class="second">Drop off</h5>
                <div class="stm_filled_return_location">--</div>
                <div class="stm_filled_return_date">--</div>
            </div>
        </div>
    </div>
</div>

