@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<div class="white-bg">

    <!-- Breads -->
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1485264424035">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <h2 style="font-size: 30px;text-align: left" class="vc_custom_heading vc_custom_1485319686996">İletişim</h2>
                        <div role="form" class="wpcf7" id="wpcf7-f347-p311-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                <ul></ul>
                            </div>
                            <form action="/" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="347" />
                                    <input type="hidden" name="_wpcf7_version" value="5.5.6" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f347-p311-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="311" />
                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="contact-us-label">Mesaj</div>
                                                <p>
                                                    <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Lütfen mesajınızı yazınız..."></textarea></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <div class="contact-us-label">İSİM SOYAD*</div>
                                            <p>
                                                <span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="İsim Soyad giriniz" /></span>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <div class="contact-us-label">Eposta*</div>
                                            <p>
                                                <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="email@domain.com" /></span>
                                            </p>
                                        </div>
                                        <div class="form-group"></div>
                                        <div class="contact-us-submit">
                                            <input type="submit" value="Gönder" class="wpcf7-form-control has-spinner wpcf7-submit contact-us-submit" />
                                        </div>
                                    </div>
                                </div>
                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row wpb_row vc_row-fluid stm_rental_icon_boxes_style_2 vc_custom_1485347999309">
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                 


                        <div class="icon-box  vc_custom_1485260253393 icon_box_87505 stm-layout-box-car_dealer " style="color:#2a4045">
                            <div class="boat-line"></div>
                            <div class="icon boat-third-color icon_element_27661  vc_custom_1485260253392" style="font-size:20px;
				color:#f0c540; 				">
                                <i class="stm-icon-pin"></i>
                            </div>
                            <div class="icon-text">
                                <div class="content heading-font" style="
				line-height:18px;font-size:14px;			">
                                    <p><span style="color: #2a4045;">Yeşilova, 4174. Sk No:130, 35080</span></br><span style="color: #2a4045;">Bornova/İzmir</span></p>
                                </div>
                            </div>
                        </div>




















                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                     






                        <div class="icon-box  vc_custom_1485260310173 icon_box_75404 stm-layout-box-car_dealer " style="color:#232628">
                            <div class="boat-line"></div>
                            <div class="icon boat-third-color icon_element_39499  vc_custom_1485260310171" style="font-size:20px;
				color:#f0c540; 				">
                                <i class="stm-icon-phone"></i>
                            </div>
                            <div class="icon-text">
                                <div class="content heading-font" style="
				line-height:22px;font-size:14px;			">
                                    <p style="line-height: 22px;">
                                        <span style="color: #2a4045;">Telefon: 0532 1 71 71 71</span>

                                    </p>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                   
















                        <div class="icon-box  vc_custom_1485260333493 icon_box_5119 stm-layout-box-car_dealer " style="color:#2a4045">
                            <div class="boat-line"></div>
                            <div class="icon boat-third-color icon_element_85254  vc_custom_1485260333492" style="font-size:19px;
				color:#f0c540; 				">
                                <i class="stm-icon-time"></i>
                            </div>
                            <div class="icon-text">
                                <div class="content heading-font" style="
				line-height:22px;font-size:14px;			">
                                    <p style="line-height: 22px;">
                                        <span style="color: #2a4045;">Pazartesi - Cumartesi : 09:00 - 20:00</span><br />
                                        <span style="color: #2a4045;">Pazar : 11:00 - 20:00</span>
                                    </p>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1485321118365 vc_row-no-padding">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <script>
                            jQuery(document).on('ready', function ($) {

                                var icon1 = '/umbraco/asset/img/uploads/motors_car_rental_pin.svg';
                                var icon2 = '/umbraco/asset/img/uploads/pin2.svg';

                                function initialize() {
                                    var map;
                                    var mapStyles = [{
                                        "featureType": "administrative",
                                        "elementType": "labels.text.fill",
                                        "stylers": [{
                                            "color": "#444444"
                                        }]
                                    }, {
                                        "featureType": "landscape",
                                        "elementType": "all",
                                        "stylers": [{
                                            "color": "#f2f2f2"
                                        }]
                                    }, {
                                        "featureType": "poi",
                                        "elementType": "all",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    }, {
                                        "featureType": "road",
                                        "elementType": "all",
                                        "stylers": [{
                                            "saturation": -100
                                        }, {
                                            "lightness": 45
                                        }]
                                    }, {
                                        "featureType": "road.highway",
                                        "elementType": "all",
                                        "stylers": [{
                                            "visibility": "simplified"
                                        }]
                                    }, {
                                        "featureType": "road.arterial",
                                        "elementType": "labels.icon",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    }, {
                                        "featureType": "transit",
                                        "elementType": "all",
                                        "stylers": [{
                                            "visibility": "off"
                                        }]
                                    }, {
                                        "featureType": "water",
                                        "elementType": "all",
                                        "stylers": [{
                                            "color": "#6c98e1"
                                        }, {
                                            "visibility": "on"
                                        }]
                                    }];
                                    var bounds = new google.maps.LatLngBounds();
                                    var mapOptions = {
                                        mapTypeId: 'roadmap',
                                        scrollwheel: false,
                                        styles: mapStyles
                                    };

                                    // Display a map on the page
                                    map = new google.maps.Map(document.getElementById("stm_map_offices"), mapOptions);
                                    map.setTilt(45);

                                    var markers = [
                                        ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Arlington Heights<\/div><div class='address'><i class='stm-icon-pin'><\/i>45 W. Lincoln St.  Arlington, NC 28655<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +8448 3532423<\/div><div class='fax'>Fax: +8448 3532425<\/div><\/div><\/div>", "34.068675", "-118.322816", 0, "Arlington Heights", 486],
                                        ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Downtown<\/div><div class='address'><i class='stm-icon-pin'><\/i>208 Manhattan St.  Downtown, FL 33823<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +9945 68548345<\/div><div class='fax'>Fax: +9945 68548346<\/div><\/div><\/div>", "34.106331", "-118.284820", 1, "Downtown", 485],
                                        ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>West Hollywood<\/div><div class='address'><i class='stm-icon-pin'><\/i>Santa Monica Blvd, Hollywood, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +2245 546456<\/div><div class='fax'>Fax: +2245 546457<\/div><\/div><\/div>", "34.090009", "-118.361744", 2, "West Hollywood", 484],
                                        ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Hollywood<\/div><div class='address'><i class='stm-icon-pin'><\/i>1156 Hollywood ave, CA, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +1 212-698-1245<\/div><div class='fax'>Fax: +1 212-698-1246<\/div><\/div><\/div>", "34.096751", "-118.329728", 3, "Hollywood", 99],
                                        ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Koreatown<\/div><div class='address'><i class='stm-icon-pin'><\/i>Koreatown S Ardmore ave, LA, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +1 212-698-1245<\/div><div class='fax'>Fax: +1 212-698-1246<\/div><\/div><\/div>", "34.065325", "-118.234669", 4, "Koreatown", 98]
                                    ];

                                    // Display multiple markers on a map
                                    var infoWindow = new google.maps.InfoWindow({
                                        pixelOffset: new google.maps.Size(-140, -215)
                                    }),
                                        marker, i;

                                    // Loop through our array of markers & place each one on the map
                                    for (i = 0; i < markers.length; i++) {
                                        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                        bounds.extend(position);
                                        marker = new google.maps.Marker({
                                            position: position,
                                            map: map,
                                            title: markers[i][4],
                                            icon: icon1
                                        });

                                        google.maps.event.addListener(marker, 'mouseover', function () {
                                            this.setIcon(icon2);
                                        });
                                        google.maps.event.addListener(marker, 'mouseout', function () {
                                            this.setIcon(icon1);
                                        });

                                        // Allow each marker to have an info window
                                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                            return function () {
                                                infoWindow.setContent(markers[i][0]);
                                                infoWindow.open(map, marker);
                                            }
                                        })(marker, i));

                                        // Automatically center the map fitting all markers on the screen
                                        map.fitBounds(bounds);
                                    }

                                    var timeOut;
                                    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
                                    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                                        window.clearTimeout(timeOut);
                                        timeOut = window.setTimeout(function () {
                                            map.setZoom(13);
                                        }, 400);

                                        google.maps.event.removeListener(boundsListener);
                                    });

                                    google.maps.event.addListener(infoWindow, 'domready', function () {

                                        var iwOuter = $('.gm-style-iw');
                                        var iwBackground = iwOuter.prev();
                                        iwBackground.addClass('stm-iw-wrapper');
                                        iwBackground.children(':nth-child(1)').addClass('stm-iw-first');
                                        iwBackground.children(':nth-child(2)').addClass('stm-iw-second');
                                        iwBackground.children(':nth-child(3)').addClass('stm-iw-third');
                                        iwBackground.children(':nth-child(4)').addClass('stm-iw-fourth');

                                    });
                                }

                                // initialize map
                                initialize();
                            });
                        </script>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.478696571109!2d27.209419315194456!3d38.43041057964527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b963caef2ce749%3A0xd624feaea52b9cb9!2sProRent24%20Car%20Rental%20%C4%B0zmir%20Ara%C3%A7%20Kiralama!5e0!3m2!1str!2str!4v1652453446135!5m2!1str!2str" width="100%" height="548" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row-full-width"></div>



        <div class="clearfix">
        </div>
    </div>
