@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MainPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div class="container">
    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid stm-background-centered vc_custom_1485758847623">
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="stm_text_baloon">
                        <div class="inner">
                            </p>
                            <h1><span style="color: #ffffff;"> %10</span></h1>
                            <h2><span style="color: #273f44;">İndirim</span></h2>
                            <h4>Onlİne Ödemeler</h4>
                            <p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        @{ Html.RenderAction("RenderReservationDateForm", "Reservation");}
    </div>
    <div class="vc_row-full-width"></div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1484196732635">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <h2 style="font-size: 30px;color: #273f44;line-height: 50px;text-align: center" class="vc_custom_heading vc_custom_1484196241978">GÜVENİLİR ARAÇ KİRALAMA</h2>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">


                                    <div class="icon-box  vc_custom_1556885458003 icon_box_45481 stm-layout-box-car_dealer " style="color:#888888">
                                        <div class="boat-line"></div>
                                        <div class="icon boat-third-color icon_element_34111 " style="font-size:31px;
				color:#ffffff; background-color:#f0c540				">
                                            <i class="stm-rental-thumbs_rent"></i>
                                        </div>
                                        <div class="icon-text">
                                            <h4 class="title heading-font" style="color:#888888">
                                                Kurumsal Süreçler
                                            </h4>
                                            <div class="content heading-font" style="
				line-height:20px;font-size:14px;			">
                                                <p style="line-height: 20px;">Kiralama süreçlerimiz en başından sonuna kadar kurumsal bir anlayışla yönetilir. Tecrübeli ekibimiz sayesinde bizimle ilk temasınızdan aracın teslimine dek sizlere sorunsuz bir deneyim yaşatmak üzere çalışırız.</p>
                                            </div>
                                        </div>
                                    </div>







                                    <div class="icon-box  vc_custom_1556885469980 icon_box_80703 stm-layout-box-car_dealer " style="color:#888888">
                                        <div class="boat-line"></div>
                                        <div class="icon boat-third-color icon_element_41707 " style="font-size:31px;
				color:#ffffff; background-color:#f0c540				">
                                            <i class="stm-rental-chair_rent"></i>
                                        </div>
                                        <div class="icon-text">
                                            <h4 class="title heading-font" style="color:#888888">
                                                Doğru Fiyat Politikası
                                            </h4>
                                            <div class="content heading-font" style="
				line-height:20px;font-size:14px;			">
                                                <p style="line-height: 20px;">Haziran 2022 - ProRent24 olarak belirlediğimiz kiralama fiyatları piyasa örnekleri ve ekonomik koşullar başta olmak üzere birçok unsura dayanır. Siz değerli müşterilerimize her zaman en doğru ve uygun fiyatı sunabilmek için düzenli analizler yaparak ilerleriz.</p>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">


                                    <div class="icon-box  vc_custom_1556885494211 icon_box_54121 stm-layout-box-car_dealer " style="color:#888888">
                                        <div class="boat-line"></div>
                                        <div class="icon boat-third-color icon_element_4864 " style="font-size:31px;
				color:#ffffff; background-color:#f0c540				">
                                            <i class="stm-rental-medal_rent"></i>
                                        </div>
                                        <div class="icon-text">
                                            <h4 class="title heading-font" style="color:#888888">
                                                Güvenli Markalar
                                            </h4>
                                            <div class="content heading-font" style="
				line-height:20px;font-size:14px;			">
                                                <p style="line-height: 20px;">Araç filomuzda kendi sınıflarında başarılarını kanıtlamış güvenli markalardan oluşmaktadır. Düşük yaş ve kilometrede, bakımları düzenli olarak yapılarak sizlere en güvenli ve hijyenik koşullarda hazırlanırlar.</p>
                                            </div>
                                        </div>
                                    </div>







                                    <div class="icon-box  vc_custom_1556885501364 icon_box_89390 stm-layout-box-car_dealer " style="color:#888888">
                                        <div class="boat-line"></div>
                                        <div class="icon boat-third-color icon_element_26096 " style="font-size:31px;
				color:#ffffff; background-color:#f0c540				">
                                            <i class="stm-icon-transmission"></i>
                                        </div>
                                        <div class="icon-text">
                                            <h4 class="title heading-font" style="color:#888888">
                                                7/24 Destek Hattı
                                            </h4>
                                            <div class="content heading-font" style="
				line-height:20px;font-size:14px;			">
                                                <p style="line-height: 20px;">Kolay İletişim numaramız 0532 1 71 71 71 ile bilgi, rezervasyon, destek ve şikayet gibi her konuda bize ulaşabilirsiniz. Müşteri memnuniyeti odaklı yönettiğimiz süreçlerimizde her an ulaşılabilir olmak önem verdiğimiz konuların başında gelmektedir.</p>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">


                                    <div class="icon-box  vc_custom_1556885508727 icon_box_99276 stm-layout-box-car_dealer " style="color:#888888">
                                        <div class="boat-line"></div>
                                        <div class="icon boat-third-color icon_element_99445 " style="font-size:31px;
				color:#ffffff; background-color:#f0c540				">
                                            <i class="stm-rental-gps_rent"></i>
                                        </div>
                                        <div class="icon-text">
                                            <h4 class="title heading-font" style="color:#888888">
                                                Profesyonel Ekip
                                            </h4>
                                            <div class="content heading-font" style="
				line-height:20px;font-size:14px;			">
                                                <p style="line-height: 20px;">Başarının sırrı doğru ve profesyonel bir ekipten geçer. İşinde uzman, sektörde deneyim sahibi arkadaşlarımız ile oluşturduğumuz ekibimiz her ihtiyacınızda size destek olmak için hazırız.</p>
                                            </div>
                                        </div>
                                    </div>







                                    <div class="icon-box  vc_custom_1556885515306 icon_box_75683 stm-layout-box-car_dealer " style="color:#888888">
                                        <div class="boat-line"></div>
                                        <div class="icon boat-third-color icon_element_54002 " style="font-size:31px;
				color:#ffffff; background-color:#f0c540				">
                                            <i class="stm-rental-support_rent"></i>
                                        </div>
                                        <div class="icon-text">
                                            <h4 class="title heading-font" style="color:#888888">
                                                Dijital Hizmetler
                                            </h4>
                                            <div class="content heading-font" style="
				line-height:20px;font-size:14px;			">
                                                <p style="line-height: 20px;">
                                                    İhtiyaçlarınız doğrultusunda internet sitesi, online ödeme ve sosyal medya kanallarımız sayesinde eksiksiz bir dijital deneyim sunuyoruz. Çok yakında yayına alacağımız mobil uygulamamız ile dijital deneyiminizi bir üst seviyeye taşımayı hedefliyoruz.
                                                </p>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid stm-fullwidth-with-parallax vc_custom_1485759494681">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <h2 style="font-size: 30px;color: #ffffff;line-height: 50px;text-align: center" class="vc_custom_heading vc_custom_1484196807803">ARAÇ KATEGORİLERİ</h2>
                    <div class="stm_products_grid_class">

                        <div class="stm_product_grid_single">
                            <a href='/date' class="inner external" rel="nofollow">
                                <div class="stm_top clearfix">
                                    <div class="stm_left heading-font" style="width:75%">
                                        <h3>EKO SINIF</h3>
                                        <div class="s_title">Egea / Clio veya Benzeri</div>

                                        <div class="price">

                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>600 TL</span> / GÜN
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span></span>Başlayan Fiyatlarla
                                        </div>
                                    </div>
                                </div>

                                <div class="stm_image">
                                    <img width="299" height="199" src="/umbraco/asset/img/uploads/eko_sınıf.png" class="img-responsive wp-post-image" alt=""
                                         sizes="(max-width: 299px) 100vw, 299px" />
                                </div>
                            </a>
                        </div>

                        <div class="stm_product_grid_single">
                            <a href='/date' class="inner external" rel="nofollow">
                                <div class="stm_top clearfix">
                                    <div class="stm_left heading-font" style="width:75%">
                                        <h3>ORTA SINIF</h3>
                                        <div class="s_title">Focus / Megane veya Benzeri</div>

                                        <div class="price">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>750 TL</span> / GÜN
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span></span>Başlayan Fiyatlarla
                                        </div>
                                    </div>
                      
                                </div>

                                <div class="stm_image">
                                    <img width="299" height="199" src="/umbraco/asset/img/uploads/orta_sınıf.png" class="img-responsive wp-post-image" alt="" loading="lazy"
                                         sizes="(max-width: 299px) 100vw, 299px" />
                                </div>
                            </a>
                        </div>

                        <div class="stm_product_grid_single">
                            <a href='/date' class="inner external" rel="nofollow">
                                <div class="stm_top clearfix">
                                    <div class="stm_left heading-font" style="width:75%">
                                        <h3>ÜST SINIF</h3>
                                        <div class="s_title">BMW 5 / 2008 veya Benzeri</div>

                                        <div class="price">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>900 TL</span> / GÜN
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span></span>Başlayan Fiyatlarla
                                        </div>
                                    </div>
                                </div>

                                <div class="stm_image">
                                    <img width="299" height="199" src="~/umbraco/asset/img/uploads/üst_sınıf.png" class="img-responsive wp-post-image" alt="" loading="lazy"
                                         sizes="(max-width: 299px) 100vw, 299px" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <h2 style="font-size: 30px;color: #273f44;line-height: 50px;text-align: center" class="vc_custom_heading vc_custom_1484196997291">MUTLU MİSAFİRLERİMİZ</h2>
                    <div class="testimonials-carousel-wrapper   ">
                        <div class="testimonials-carousel owl-carousel testimonials_carousel_98528 ">
                            <div class="testimonial-unit style_1">
                                <div class="clearfix" style="height:350px">
                                    <div class="image">
                                        <img class="" src="/umbraco/asset/img/uploads/MM3.jpg" width="67" height="67" alt="woman" title="woman" />
                                    </div>

                                    <div class="testimonial-info">
                                        <div class="author heading-font">
                                            Z. Ersoy
                                        </div>


                                    </div>

                                    <div class="content">
                                        Mayıs 2022 - Prorent24 'ü İzmir tatilim öncesi internet araç kiralama firması ararken buldum. Yerel bir işletme olmasına rağmen büyük kurumsallara benzer süreç yönetimleri var. 1 haftalık Renault Clio kiraladım ve fiyat/performans olarak çok memnun kaldım. Tavsiye derim :)
                                    </div>

                                </div>

                            </div>
                            <div class="testimonial-unit style_1">
                                <div class="clearfix" style="height:350px">
                                    <div class="image">
                                        <img class="" src="/umbraco/asset/img/uploads/MM4.jpg" width="67" height="67" alt="avatar-2" title="avatar-2" />
                                    </div>

                                    <div class="testimonial-info">
                                        <div class="author heading-font">
                                            A. Yıldırım
                                        </div>


                                    </div>

                                    <div class="content">
                                        Mart 2022 - Öncelikle kiralama öncesi ve tatilim boyunca her aradığımda size ulaşabildiğim için teşekkür ederim. Genelde yerel araç kiralama firmalarında hep iletişim sorunu yaşanır ama siz bu konuyu çözmüşsünüz. Piyasaya göre uygun fiyatlarla sorunsuz bir kiralama için öneririm.
                                    </div>

                                </div>

                            </div>
                            <div class="testimonial-unit style_1">
                                <div class="clearfix" style="height:350px">
                                    <div class="image">
                                        <img class="" src="/umbraco/asset/img/uploads/MM5.jpg" width="66" height="66" alt="man1" title="man1" />
                                    </div>

                                    <div class="testimonial-info">
                                        <div class="author heading-font">
                                            T. Bahar
                                        </div>


                                    </div>

                                    <div class="content">
                                        Haziran 2022 - 3. kiralama deneyimim de sorunsuz tamamlandı. Bu sfer öneri üzerine Citroen C3 kiraladım. İçi genişti, otomatik vites ile çok rahat ettik. Havalimanından kiralayıp Alaçatı ya tatile geçtik. Prorent24 e bakmadan geçmeyin.
                                    </div>

                                </div>

                            </div>
                            <div class="testimonial-unit style_1">
                                <div class="clearfix" style="height:350px">
                                    <div class="image">
                                        <img class="" src="/umbraco/asset/img/uploads/MM1.jpg" width="67" height="67" alt="woman" title="woman" />
                                    </div>

                                    <div class="testimonial-info">
                                        <div class="author heading-font">
                                            G. Kızılkaya
                                        </div>


                                    </div>

                                    <div class="content">
                                        Temmuz 2021 - Güler yüzlü ekip ve profesyonel hizmet için çok teşekkürler. Km farkı çıktı ve bu seferlik almadılar. İyi ki varsınız, tavsiye ederim herkese.
                                    </div>

                                </div>

                            </div>
                            <div class="testimonial-unit style_1">
                                <div class="clearfix" style="height:350px">
                                    <div class="image">
                                        <img class="" src="/umbraco/asset/img/uploads/MM2.jpg" width="67" height="67" alt="avatar-2" title="avatar-2" />
                                    </div>

                                    <div class="testimonial-info">
                                        <div class="author heading-font">
                                            F. Sezgin
                                        </div>


                                    </div>

                                    <div class="content">
                                        Haziran 2022 - Samimi, dürüst, içten, dost bir işletme şimdiye kadar ikinci kez araç kiralıyorum çok memnun kaldım, çok teşekkür ederim.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                    <script>
                        (function ($) {
                            "use strict";

                            var owlRtl = false;
                            if ($('body').hasClass('rtl')) {
                                owlRtl = true;
                            }

                            var owl = $('.testimonials_carousel_98528');

                            var loopOwl = (owl.find(".testimonial-unit").length > 1) ? true : false;

                            $(document).on('ready', function () {

                                var dateTimeFormatHide = 'YYYY-MM-DD HH:mm';

                                var today = new Date();
                                var tomorrow = new Date();
                                tomorrow.setDate(today.getDate() + 1);
                                var dayLater = new Date();
                                dayLater.setDate(today.getDate() + 4);
                                var economyUrl = '/web/Reservation?obj={"pickupLocNo":"1271","pickupDate":"' + moment(tomorrow).format(dateTimeFormatHide) + '","returnLocNo":"1271","returnDate":"' + moment(dayLater).format(dateTimeFormatHide) + '","classNos":[785,758,784,787,759,788,797,760,789,762,794,795,796,793,792,790,791,786],"tariffNos":[380,381],"language":"TR","orderby":"pricedesc"}';
                                $('.redirectToReservationEconomy').attr("href", economyUrl);
                                var middleUrl = '/web/Reservation?obj={"pickupLocNo":"1271","pickupDate":"' + moment(tomorrow).format(dateTimeFormatHide) + '","returnLocNo":"1271","returnDate":"' + moment(dayLater).format(dateTimeFormatHide) + '","classNos":[785,758,784,787,759,788,797,760,789,762,794,795,796,793,792,790,791,786],"tariffNos":[380,381],"language":"TR","orderby":"pricedesc"}';
                                $('.redirectToReservationMiddle').attr("href", middleUrl);
                                var highUrl = '/web/Reservation?obj={"pickupLocNo":"1271","pickupDate":"' + moment(tomorrow).format(dateTimeFormatHide) + '","returnLocNo":"1271","returnDate":"' + moment(dayLater).format(dateTimeFormatHide) + '","classNos":[785,758,784,787,759,788,797,760,789,762,794,795,796,793,792,790,791,786],"tariffNos":[380,381],"language":"TR","orderby":"pricedesc"}';
                                $('.redirectToReservationHigh').attr("href", highUrl);
                                var corparateUrl = '/web/Reservation?obj={"pickupLocNo":"1271","pickupDate":"' + moment(tomorrow).format(dateTimeFormatHide) + '","returnLocNo":"1271","returnDate":"' + moment(dayLater).format(dateTimeFormatHide) + '","classNos":[785,758,784,787,759,788,797,760,789,762,794,795,796,793,792,790,791,786],"tariffNos":[380,381],"language":"TR","orderby":"pricedesc"}';
                                $('.redirectToReservationCorparate').attr("href", corparateUrl);

                                owl.on('initialized.owl.carousel', function (e) {
                                    setTimeout(function () {
                                        owl.find('.owl-nav, .owl-dots, .stm-owl-prev, .stm-owl-next').wrapAll("<div class='owl-controls'></div>");
                                    }, 500);
                                });
                                owl.owlCarousel({
                                    rtl: owlRtl,
                                    items: 3,
                                    responsive: {
                                        0: {
                                            items: 1
                                        },
                                        769: {
                                            items: 3
                                        }
                                    },
                                    smartSpeed: 800,
                                    dots: true,
                                    nav: false,
                                    navElement: 'div',
                                    autoplay: false,
                                    loop: loopOwl,
                                    navText: '',
                                    responsiveRefreshRate: 1000
                                });
                            });
                        })(jQuery);
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1483769770083 vc_row-o-equal-height vc_row-flex">
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner vc_custom_1484197311087">
                <div class="wpb_wrapper">
                    <h3 style="font-size: 30px;color: #ffffff;line-height: 30px;text-align: left" class="vc_custom_heading vc_custom_1484197332395">ESNEK ÇÖZÜMLER</h3>
                    <div class="wpb_text_column wpb_content_element  vc_custom_1484197969680">
                        <div class="wpb_wrapper">
                            <p><span style="color: #ffffff; font-size: 14px; line-height: 24px; letter-spacing: 0.5px;">PRORENT24 olarak misafirlerimizin değişen ihtiyaçları halinde en uygun koşullarla esnek çözümler sunarız. Araç iade tarihlerinde değişiklik, mevsimsel ihtiyaçlar doğrultusunda lastik değişimi, ileri tarihli rezervasyonlarda iptal ve değişiklik imkanı başta olmak üzere bir çok esnek çözüm ile misafirlerimizin memnuniyetini esas alırız.</span></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stm-stretch-image-right wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1485759524190">
                <div class="wpb_wrapper"></div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width"></div>
    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1483773620589">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">


                    <div class="stm-call-to-action heading-font  vc_custom_1634019225024" style="background-color:#f0c540">
                        <div class="clearfix">
                            <div class="call-to-action-content pull-left">
                                <div class="content" style="color: #273f44">
                                    <span>SORULARINIZ İÇİN?</span>
                                </div>
                            </div>
                            <div class="call-to-action-right" style="color: #273f44">

                                <a class="button stm-button stm-button-rental external" href="/iletisim" title="İLETİŞİM" rel="nofollow">

                                    <i class="far fa-envelope "></i> İLETİŞİM
                                </a>

                                <div class="call-to-action-meta" style="color: #273f44">
                                    <div class="content">
                                        <i class="stm-icon-phone2 cta_icon_class_ffffff"></i> 0532 1 71 71 71
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width"></div>
    <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <script>
                        jQuery(document).on('ready', function ($) {

                            var icon1 = '/umbraco/asset/img/uploads/motors_car_rental_pin.svg';
                            var icon2 = '/umbraco/asset/img/uploads/pin2.svg';

                            function initialize() {
                                var map;
                                var mapStyles = [{
                                    "featureType": "administrative",
                                    "elementType": "labels.text.fill",
                                    "stylers": [{
                                        "color": "#444444"
                                    }]
                                }, {
                                    "featureType": "landscape",
                                    "elementType": "all",
                                    "stylers": [{
                                        "color": "#f2f2f2"
                                    }]
                                }, {
                                    "featureType": "poi",
                                    "elementType": "all",
                                    "stylers": [{
                                        "visibility": "off"
                                    }]
                                }, {
                                    "featureType": "road",
                                    "elementType": "all",
                                    "stylers": [{
                                        "saturation": -100
                                    }, {
                                        "lightness": 45
                                    }]
                                }, {
                                    "featureType": "road.highway",
                                    "elementType": "all",
                                    "stylers": [{
                                        "visibility": "simplified"
                                    }]
                                }, {
                                    "featureType": "road.arterial",
                                    "elementType": "labels.icon",
                                    "stylers": [{
                                        "visibility": "off"
                                    }]
                                }, {
                                    "featureType": "transit",
                                    "elementType": "all",
                                    "stylers": [{
                                        "visibility": "off"
                                    }]
                                }, {
                                    "featureType": "water",
                                    "elementType": "all",
                                    "stylers": [{
                                        "color": "#6c98e1"
                                    }, {
                                        "visibility": "on"
                                    }]
                                }];
                                var bounds = new google.maps.LatLngBounds();
                                var mapOptions = {
                                    mapTypeId: 'roadmap',
                                    scrollwheel: false,
                                    styles: mapStyles
                                };

                                // Display a map on the page
                                map = new google.maps.Map(document.getElementById("stm_map_offices"), mapOptions);
                                map.setTilt(45);

                                var markers = [
                                    ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Arlington Heights<\/div><div class='address'><i class='stm-icon-pin'><\/i>45 W. Lincoln St.  Arlington, NC 28655<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +8448 3532423<\/div><div class='fax'>Fax: +8448 3532425<\/div><\/div><\/div>", "34.068675", "-118.322816", 0, "Arlington Heights", 486],
                                    ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Downtown<\/div><div class='address'><i class='stm-icon-pin'><\/i>208 Manhattan St.  Downtown, FL 33823<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +9945 68548345<\/div><div class='fax'>Fax: +9945 68548346<\/div><\/div><\/div>", "34.106331", "-118.284820", 1, "Downtown", 485],
                                    ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>West Hollywood<\/div><div class='address'><i class='stm-icon-pin'><\/i>Santa Monica Blvd, Hollywood, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +2245 546456<\/div><div class='fax'>Fax: +2245 546457<\/div><\/div><\/div>", "34.090009", "-118.361744", 2, "West Hollywood", 484],
                                    ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Hollywood<\/div><div class='address'><i class='stm-icon-pin'><\/i>1156 Hollywood ave, CA, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +1 212-698-1245<\/div><div class='fax'>Fax: +1 212-698-1246<\/div><\/div><\/div>", "34.096751", "-118.329728", 3, "Hollywood", 99],
                                    ["<div class='stm_offices_wrapper with-map'><div class='location heading-font'>Koreatown<\/div><div class='address'><i class='stm-icon-pin'><\/i>Koreatown S Ardmore ave, LA, USA<\/div><div class='phone_fax'><i class='stm-icon-phone'><\/i> <div class='phone'>Phone: +1 212-698-1245<\/div><div class='fax'>Fax: +1 212-698-1246<\/div><\/div><\/div>", "34.065325", "-118.234669", 4, "Koreatown", 98]
                                ];

                                // Display multiple markers on a map
                                var infoWindow = new google.maps.InfoWindow({
                                    pixelOffset: new google.maps.Size(-140, -215)
                                }),
                                    marker, i;

                                // Loop through our array of markers & place each one on the map
                                for (i = 0; i < markers.length; i++) {
                                    var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                                    bounds.extend(position);
                                    marker = new google.maps.Marker({
                                        position: position,
                                        map: map,
                                        title: markers[i][4],
                                        icon: icon1
                                    });

                                    google.maps.event.addListener(marker, 'mouseover', function () {
                                        this.setIcon(icon2);
                                    });
                                    google.maps.event.addListener(marker, 'mouseout', function () {
                                        this.setIcon(icon1);
                                    });

                                    // Allow each marker to have an info window
                                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                        return function () {
                                            infoWindow.setContent(markers[i][0]);
                                            infoWindow.open(map, marker);
                                        }
                                    })(marker, i));

                                    // Automatically center the map fitting all markers on the screen
                                    map.fitBounds(bounds);
                                }

                                var timeOut;
                                // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
                                var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function (event) {
                                    window.clearTimeout(timeOut);
                                    timeOut = window.setTimeout(function () {
                                        map.setZoom(13);
                                    }, 400);

                                    google.maps.event.removeListener(boundsListener);
                                });

                                google.maps.event.addListener(infoWindow, 'domready', function () {

                                    var iwOuter = $('.gm-style-iw');
                                    var iwBackground = iwOuter.prev();
                                    iwBackground.addClass('stm-iw-wrapper');
                                    iwBackground.children(':nth-child(1)').addClass('stm-iw-first');
                                    iwBackground.children(':nth-child(2)').addClass('stm-iw-second');
                                    iwBackground.children(':nth-child(3)').addClass('stm-iw-third');
                                    iwBackground.children(':nth-child(4)').addClass('stm-iw-fourth');

                                });
                            }

                            // initialize map
                            initialize();

                    </script>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.478696571109!2d27.209419315194456!3d38.43041057964527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b963caef2ce749%3A0xd624feaea52b9cb9!2sProRent24%20Car%20Rental%20%C4%B0zmir%20Ara%C3%A7%20Kiralama!5e0!3m2!1str!2str!4v1652453446135!5m2!1str!2str" width="100%" height="548" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="vc_row-full-width"></div>
</div>
