@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = null; }
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">


    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <link media="all" href="umbraco/asset/css/fontawesome.css" rel="stylesheet" />
    <link media="all" href="umbraco/asset/css/main.css" rel="stylesheet" />
    <title>Motors Car Rental Service - Car Rental WordPress Theme</title>
    <link rel="canonical" href="index.php" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Motors Car Rental Service - Car Rental WordPress Theme" />
    <meta property="og:url" content="index.php" />
    <meta property="og:site_name" content="Motors Car Rental Service" />
    <meta property="article:modified_time" content="2021-10-12T06:13:46+00:00" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="6 minutes" />


    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Motors Car Rental Service &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Motors Car Rental Service &raquo; Comments Feed" href="comments/feed/index.html" />

    <!-- <link rel='stylesheet' id='right_popup-css' href='../../static.stylemixthemes.com/shared/right-popup/popup68b3.css?ver=1' type='text/css' media='all' /> -->


    <link rel='stylesheet' id='stm_default_google_font-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=latin%2Clatin-ext&amp;ver=1.0.3' type='text/css' media='all' />


    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" /> -->

    <link rel="https://api.w.org/" href="wp-json/index.html" />
    <link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/5.json" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <meta name="generator" content="WordPress 5.9.1" />
    <meta name="generator" content="WooCommerce 6.2.1" />
    <link rel='shortlink' href='index.html' />

    <script type="text/javascript">var stm_lang_code = 'en';
        var ajaxurl = 'wp-admin/admin-ajax.html';
        var stm_site_blog_id = "7";
        var stm_added_to_compare_text = "Added to compare";
        var stm_removed_from_compare_text = "was removed from compare";

        var stm_already_added_to_compare_text = "You have already added 3 cars";</script>
    <script type="text/javascript">var stm_wpcfto_ajaxurl = 'wp-admin/admin-ajax.html';</script>


    <script>var stm_wpcfto_nonces = {
            "wpcfto_save_settings": "04cd610408",
            "get_image_url": "d1244e1c61",
            "wpcfto_upload_file": "a72fcb31fa",
            "wpcfto_search_posts": "de94479f2f"
        };</script>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <link rel="icon" href="umbraco/asset/img/uploads/cropped-cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="umbraco/asset/img/uploads/cropped-cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="umbraco/asset/img/uploads/cropped-cropped-favicon-180x180.png" />

    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    <script src="umbraco/asset/js/main.js"></script>
    <!-- <script async src='../cdn-cgi/challenge-platform/h/g/scripts/invisible3051.js?ts=1651780800'></script> -->
</head>


<body class="home page-template-default page page-id-5 theme-motors woocommerce-no-js  home  stm-template-car_rental stm-user-not-logged-in header_remove_compare header_remove_cart stm-layout-header-car_rental has-breadcrumb_navxt wpb-js-composer js-comp-ver-6.8.0 vc_responsive has_iframe envato-preview-visible" ontouchstart="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-dark-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-red">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.27843137254902" />
                    <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-midnight">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.64705882352941" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-magenta-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.78039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.94901960784314" />
                    <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-green">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.44705882352941 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-orange">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.098039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.66274509803922" />
                    <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <div id="wrapper">
        <div id="top-bar" class="">
            <div class="container">

                <div class="clearfix top-bar-wrapper">
                    <!--LANGS-->
                    <div class="pull-left language-switcher-unit">
                        <div class="stm_current_language dropdown_toggle" id="lang_dropdown" data-toggle="dropdown">
                            English<i class="fa fa-angle-down"></i>
                        </div>
                        <ul class="dropdown-menu lang_dropdown_menu" role="menu" aria-labelledby="lang_dropdown">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#fr">Français</a></li>
                        </ul>
                    </div>
                    <div class="pull-left currency-switcher">
                    </div>
                    <!-- Header Top bar Login -->
                    <!-- <div class="pull-right hidden-xs top-bar-auth">
                        <div class="header-login-url">
                            <a href="my-account/index.html" class="external" rel="nofollow">
                                <i class="fas fa-user"></i><span class="vt-top">Login</span>
                            </a>
                            <span class="vertical-divider"></span>
                            <a href="my-account/index.html" class="external" rel="nofollow">Register</a>
                        </div>
                    </div> -->
                    <!-- Header top bar Socials -->
                    <div class="pull-right top-bar-socials">
                        <div class="header-top-bar-socs">
                            <ul class="clearfix">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="pull-right xs-pull-left top-bar-info-wrap">
                        <ul class="top-bar-info clearfix">
                            <li><i class="fab fa-clock-o "></i> Mon - Sat 8.00 - 18.00</li>
                            <li>
                                <span id="top-bar-address" class="fancy-iframe" data-iframe="true" data-src="">
                                    <i class="fab fa-map-marker "></i> 1010 Moon ave, New York, NY US
                                </span>
                            </li>
                            <li>
                                <i class="fas fa-phone "></i> <a href="tel:+1 212-226-3126"> +1 212-226-3126</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div id="header">

            <div class="header-rental header-main header-listing header-listing-fixed " style="background-color:#23393d" ;>

                <div class="container header-inner-content" data-bg="#23393d">
                    <!--Logo-->
                    <div class="listing-logo-main">
                        <a class="bloglogo external" href="index.php" rel="nofollow">
                            <img src="/umbraco/asset/img/uploads/motors_car_rental_logo.svg" style="width: 126px;" title="Home" alt="Logo" />
                        </a>
                    </div>

                    <div class="listing-service-right clearfix">

                        <div class="listing-right-actions clearfix">
                            <a href="tel:878-9671-4455" class="stm_rental_button heading-font">
                                <i class="stm-rental-phone_circle "></i> <span>878-9671-4455</span>
                            </a>


                            <div class="stm-rent-lOffer-account-unit">
                                <a href="index.php" class="stm-rent-lOffer-account external" rel="nofollow">
                                    <i class="stm-service-icon-user "></i>
                                </a>
                                <div class="stm-user-mobile-info-wrapper">
                                    <div class="stm-login-form-mobile-unregistered">
                                        <form method="post">

                                            <div class="form-group">
                                                <h4>Login or E-mail</h4>
                                                <input type="text" name="stm_user_login" placeholder="Enter login or E-mail" />
                                            </div>

                                            <div class="form-group">
                                                <h4>Password</h4>
                                                <input type="password" name="stm_user_password" placeholder="Enter password" />
                                            </div>

                                            <div class="form-group form-checker">
                                                <label>
                                                    <input type="checkbox" name="stm_remember_me" />
                                                    <span>Remember me</span>
                                                </label>
                                            </div>
                                            <input type="hidden" name="redirect_path" value="my-account/index.html" /> <input type="submit" value="Login" />
                                            <span class="stm-listing-loader"><i class="stm-icon-load1"></i></span>
                                            <a href="index.php" class="stm_label external" rel="nofollow">Sign Up</a>
                                            <div class="stm-validation-message"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="listing-menu-mobile-wrapper">
                                <div class="stm-menu-trigger">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                        </div>

                        <ul class="listing-menu clearfix" style="margin-top: 10px; ">
                            <li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-14"><a href="index.php" aria-current="page" class="external" rel="nofollow">Home</a></li>
                            <li id="menu-item-429" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="date-reservation.php" class="external" rel="nofollow">Reservation</a></li>
                            <li id="menu-item-310" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310"><a href="service.php" class="external" rel="nofollow">Service</a></li>
                            <li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362"><a href="terms.php" class="external" rel="nofollow">Terms</a></li>
                            <li id="menu-item-428" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="about-us.php" class="external" rel="nofollow">About Us</a></li>
                            <li id="menu-item-355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355"><a href="contact-us.php" class="external" rel="nofollow">Contacts</a></li>
                        </ul>

                    </div>


                    <div class="stm-opened-menu-listing">
                        <!-- <div class="stm-mobile-menu-collapser">
                            <i class="fas fa-times stm-close-mobile-menu"></i>
                        </div> -->
                        <ul class="listing-menu-mobile heading-font clearfix">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-14"><a href="index.php" aria-current="page" class="external" rel="nofollow">Home</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-429"><a href="date-reservation.php" class="external" rel="nofollow">Reservation</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-310"><a href="service.php" class="external" rel="nofollow">Service</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362"><a href="terms.php" class="external" rel="nofollow">Terms</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-428"><a href="about-us.php" class="external" rel="nofollow">About Us</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355"><a href="contact-us.php" class="external" rel="nofollow">Contacts</a></li>


                        </ul>
                        <div id="top-bar" class="">
                            <div class="container">

                                <div class="clearfix top-bar-wrapper">
                                    <!--LANGS-->
                                    <div class="pull-left language-switcher-unit">
                                        <div class="stm_current_language dropdown_toggle" id="lang_dropdown" data-toggle="dropdown">
                                            English<i class="fa fa-angle-down"></i>
                                        </div>
                                        <ul class="dropdown-menu lang_dropdown_menu" role="menu" aria-labelledby="lang_dropdown">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#fr">Français</a></li>
                                        </ul>
                                    </div>
                                    <div class="pull-left currency-switcher">
                                    </div>
                                    <!-- Header Top bar Login -->
                                    <!-- <div class="pull-right hidden-xs top-bar-auth">
                                        <div class="header-login-url">
                                            <a href="my-account/index.html" class="external" rel="nofollow">
                                                <i class="fas fa-user"></i><span class="vt-top">Login</span>
                                            </a>
                                            <span class="vertical-divider"></span>
                                            <a href="my-account/index.html" class="external" rel="nofollow">Register</a>
                                        </div>
                                    </div> -->
                                    <!-- Header top bar Socials -->
                                    <div class="pull-right top-bar-socials">
                                        <div class="header-top-bar-socs">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fab fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" target="_blank">
                                                        <i class="fab fa-youtube-play"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="pull-right xs-pull-left top-bar-info-wrap">
                                        <ul class="top-bar-info clearfix">
                                            <li><i class="fab fa-clock-o "></i> Mon - Sat 8.00 - 18.00</li>
                                            <li>
                                                <span id="top-bar-address" class="fancy-iframe" data-iframe="true" data-src="">
                                                    <i class="fab fa-map-marker "></i> 1010 Moon ave, New York, NY US
                                                </span>
                                            </li>
                                            <li>
                                                <i class="fas fa-phone "></i> <a href="tel:+1 212-226-3126"> +1 212-226-3126</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- id header -->

        <div id="main">
            @RenderBody()
        </div>

        @* the fun starts here *@
    </div>
    <!--wrapper-->
    <footer id="footer">
        <div id="footer-main">
            <div class="footer_widgets_wrapper less_4">
                <div class="container">
                    <div class="widgets cols_4 clearfix">
                        <aside id="stm_text-2" class="widget stm_wp_widget_text">
                            <div class="widget-wrapper">
                                <div class="widget-title">
                                    <h6>About car rental</h6>
                                </div>
                                <div class="textwidget">Motors Automotive we repair domestic and foreign cars. We service the Los Angeles Metro Area for all Automotive Service & Repair.</div>


                            </div>
                        </aside>
                        <aside id="text-2" class="widget widget_text">
                            <div class="widget-wrapper">
                                <div class="widget-title">
                                    <h6>Contact info</h6>
                                </div>
                                <div class="textwidget">
                                    <span class="date">Car Rental Office:</span> (323) 938-5798<br />
                                    <span class="date">Vehicle Repair service:</span> (878) 9674-4455<br />
                                    <span class="date">Email:</span> <a href="#" style="color: #fff"><span class="__cf_email__" data-cfemail="3950575f56794a4d40555c50414d515c545c4a175a5654">[email&#160;protected]</span></a>
                                </div>
                            </div>
                        </aside>
                        <aside id="text-3" class="widget widget_text">
                            <div class="widget-wrapper">
                                <div class="widget-title">
                                    <h6>Service hours</h6>
                                </div>
                                <div class="textwidget">
                                    <span class="date">Monday - Friday:</span> 09:00AM - 09:00PM<br />
                                    <span class="date">Saturday:</span> 09:00AM - 07:00PM<br />
                                    <span class="date">Sunday:</span> Closed
                                </div>
                            </div>
                        </aside>
                        <aside id="socials-2" class="widget widget_socials">
                            <div class="widget-wrapper">
                                <div class="widget-title">
                                    <h6>Social Network</h6>
                                </div>
                                <div class="socials_widget_wrapper">
                                    <ul class="widget_socials list-unstyled clearfix">
                                        <li>
                                            <a href="https://www.facebook.com/" target="_blank" class="external" rel="nofollow">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.twitter.com/" target="_blank" class="external" rel="nofollow">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/" target="_blank" class="external" rel="nofollow">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.linkedin.com/" target="_blank" class="external" rel="nofollow">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.youtube.com/" target="_blank" class="external" rel="nofollow">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>



        <div id="footer-copyright" style=background-color:#23393d>


            <div class="container footer-copyright">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="clearfix">
                            <div class="copyright-text heading-font"> Copyright © 2021. <a target="_blank" href="#">Motors</a> – WordPress Theme by <a target="_blank" href="#">Fırat</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="clearfix">
                            <div class="pull-right xs-pull-left">
                                <!-- Header top bar Socials -->
                                <div class="pull-right">
                                    <div class="copyright-socials">
                                        <ul class="clearfix">
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="global-alerts"></div>
        <div class="modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body heading_font">
                        <div class="search-title">
                            Search
                        </div>
                        <form method="get" id="searchform" action="#">
                            <div class="search-wrapper">
                                <input placeholder="Start typing here..." type="text" class="form-control search-input" value="" name="s" id="s" />
                                <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="stm_theme_demos">

        <a id="motors-mobile-app-ico-wrap" href="#" target="_blank" class="stm_theme_demos__icon external" rel="nofollow">
            <i class="fmi fmi-mobile"></i>
            <span>Motors App</span>
        </a>

        <div class="stm_theme_demos__icon" id="qr-codes">
            <i class="fmi fmi-qr"></i>
            <span style="width: 260px;">Click to show mobile version</span>
        </div>

        <a id="crypterio-support" href="#" target="_blank" class="stm_theme_demos__icon">
            <i class="fmi fmi-docs"></i>
            <span style="width: 160px;">Documentation</span>
        </a>

        <a id="crypterio-buy" href="#" target="_blank" class="stm_theme_demos__icon external" rel="nofollow">
            <i class="fmi fmi-cart"></i>
            <span>Buy <span class="stm_price_api">$0</span></span>
        </a>

        <div class="stm_theme_demos__icon last-clickable" id="crypterio-demos">
            <i class="fmi fmi-demos"></i>
            <span>Demos</span>
        </div>

        <div class="stm_theme_demos__icon stm_theme_demos__icon--toggle">
            <i><span></span></i>
        </div>

        <div class="stm_theme_demos__popup" id="qr_popup">
            <div class="stm_theme_demos__close"></div>
            <div class="stm_theme_demos__inner">
                <div class="stm_theme_demos__inner_container">
                    <h3>Scan QR to view mobile version</h3>
                    <img src="/umbraco/asset/img/qr-codes/car_rental.png" width="300px" alt="qr code" />
                </div>
            </div>
        </div>
        <div class="stm_theme_demos__popup" id="demo_popups">
            <div class="stm_theme_demos__close"></div>
            <div class="stm_theme_demos__inner">
                <div class="stm_theme_demos__inner_container">
                    <h3>MOTORS DEMOS</h3>
                    <p></p>
                    <div class="demos-list">
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Car Dealership One" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Car Dealership One
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Classified Listing" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Classified Listing
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Rent a Car Service" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Rent a Car Service
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Electric Vehicle Dealership" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Electric Vehicle Dealership
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Classified Listing Three" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Classified Listing Three
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Car Dealership Two" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Car Dealership Two
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Classified Listing Four" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Classified Listing Four
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Classified Ads (with different types)" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Classified Ads (with different types)
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Rent a Car Service Two" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Rent a Car Service Two
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Motorcycles Dealers" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Motorcycles Dealers
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Classified Listing Two" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Classified Listing Two
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Equipment" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Equipment
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Aircrafts" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Aircrafts
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Car Repair Service" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Car Repair Service
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Boats Dealership" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Boats Dealership
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Car Magazine" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Car Magazine
                                </h4>
                            </div>
                        </a>
                        <a href="#" class="external" rel="nofollow">
                            <div class="demo">
                                <div class="img">
                                    <img src="/umbraco/asset/img/lazy.png" width="350" height="280" alt="Auto Parts Shop" class="lazyload" />
                                </div>
                                <h4 style="text-align: center">
                                    Auto Parts Shop
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script type="text/javascript">jQuery('document').ready(function() {
        // var $ = jQuery;
        //  var api_url = '/api/prices.json';

        // $.ajax({
        //     url: api_url,
        //     dataType: 'json',
        //     context: this,
        //     complete: function(data) {
        //         var r = data.responseJSON;
        //         $('.stm_price_api').text(r.themes.motors.price);
        //     }
        // });


        // $('#crypterio-demos').on('click', function() {
        //     $('#demo_popups').addClass('opened');
        //     $('body').addClass('fancy-lock');
        // });

        // $('.stm_theme_demos__close').on('click', function() {
        //     $('.stm_theme_demos__popup').removeClass('opened');
        //     $('body').removeClass('fancy-lock');
        // });

        // $('#qr-codes').on('click', function() {
        //     $('#qr_popup').addClass('opened');
        //     $('body').addClass('fancy-lock');
        // });

        // $('.stm_theme_demos__icon--toggle').on('click', function() {
        //     $(this).closest('.stm_theme_demos').toggleClass('expand');
        // });

        $('body').on('click', function() {
            if (!$('.stm_theme_demos:hover').length) {
                $('.stm_theme_demos').removeClass('expand');
            }
        });
    });</script>
    <script>var stm_motors_currentAjaxUrl = 'index.html';
    var resetAllTxt = 'Reset All';
    var prevText = 'Previous';
    var nextText = 'Next';
    var is_rental = 'true';
    var file_type = 'file type noimg';
    var file_size = 'file size big';
    var max_img_quant = 'max imgs 3';
    var currentLocale = 'en';
    var noFoundSelect2 = 'No results found';
    var stm_login_to_see_plans = 'Please, log in to view your available plans';
    var allowDealerAddCategory = '';
    var filterRemoveHidden = '253ef7a0a8';
    var addToCompare = '9d313e9f4f';
    var addTestDrive = '59677ae710';
    var addTradeOffer = '04697ea6df';
    var loadMoreCars = 'e397bd7d4a';
    var getCarPrice = '2b79731efa';
    var addToFav = '146b86f805';
    var getFav = '33606827ff';
    var dealerLoadCars = 'c202427585';
    var dealerLoadReviews = '8be4a34685';
    var submitReview = 'e813f0cb11';
    var restorePassword = '64a4b34f59';
    var reportReview = '8ea875cc49';
    var loadDealersList = '9e1c8f948a';
    var addACar = '13125a0c87';
    var getCarsInvtMap = 'c5f1b5ae1a';
    var sellerPhone = '9bb9ae2131';
    var subsChangeStatus = '8d9c8c0b1d';
    var rentalCheckCar = '6522876a78';
    var availableCarDate = '1e2f435c02';
    var stickyPostsMagazn = '33ef38a2f1';
    var getEvents = 'e5a0ea3eea';
    var testDriveModal = 'd7f574b947';
    var clearData = 'e945abf092';
    var invNoFilter = 'e50c00e909';
    var valueMyCar = '349abf36e8';
    var getFileSize = '8fbacc67a9';
    var sellOnlineNonce = '785805937b';
    var compare_init_object = {
        "listings": []
    };
    var ajax_url = 'wp-admin/admin-ajax.html';
    var cc_prefix = 'stm7_compare_';</script>
    <script type="text/html" id="wpb-modifications">
    </script>
    <script type="text/javascript">(function() {
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    })();</script>




    <script type='text/javascript' id='contact-form-7-js-extra'>/* <![CDATA[ */
    var wpcf7 = {
        "api": {
            "namespace": "contact-form-7\/v1"
        },
        "cached": "1"
    };
    /* ]]> */</script>

    <script type='text/javascript' id='woocommerce-js-extra'>/* <![CDATA[ */
    var woocommerce_params = {
        "ajax_url": "\/rent-a-car\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/rent-a-car\/?wc-ajax=%%endpoint%%"
    };
    /* ]]> */</script>

    <script type='text/javascript' id='wc-cart-fragments-js-extra'>/* <![CDATA[ */
    var wc_cart_fragments_params = {
        "ajax_url": "\/rent-a-car\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/rent-a-car\/?wc-ajax=%%endpoint%%",
        "cart_hash_key": "wc_cart_hash_877f070328becfc7a3da67bfadc20708",
        "fragment_name": "wc_fragments_877f070328becfc7a3da67bfadc20708",
        "request_timeout": "5000"
    };
    /* ]]> */</script>

    <script type='text/javascript' id='stm-theme-scripts-js-extra'>/* <![CDATA[ */
    var stm_i18n = {
        "remove_from_compare": "Remove from compare",
        "remove_from_favorites": "Remove from favorites"
    };
    /* ]]> */</script>

    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDRiOJcH5jlSFqsAFGOgkGLZ02XvQSMTHo&amp;sensor=false&amp;language=en-US&amp;ver=1.0.3' id='stm_gmap-js'></script>
    <div class="choose-another-class">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <div class="single-add-to-compare-left">
                        <i class="add-to-compare-icon stm-icon-speedometr2"></i>
                        <span class="stm-title h5">
                            There is no selected car class in current office. Please choose another Class!
                        </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a id="select-vehicle-popup" href="reservation/index.html" class="compare-fixed-link pull-right heading-font external" rel="nofollow">
                        Select Vehicle
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="stm-rental-overlay"></div>
    <div id="stm-overlay"></div>
    <script type="text/javascript">(function() {
        window['__CF$cv$params'] = {
            r: '706c1e901e8a548e',
            m: '5cR2m14o1r8vpgr7s_C6meNswnFUNjB4ZQUxnVv9_R8-1651781425-0-AbQYWzlKfS2Xz+YN+uRAI6em9mz2bPqoDgm8YQ3A6MSOqcln3xy2Ko+5z23tYN5BG5I8A5tcTcaYuq8R3ozkbSyBu3+oCuymVSUf7Aw3VAC/uAhsJ7XB+loNjZ0+qE/vuw==',
            s: [0xf5920a4b82, 0x1ec77386a7],
            u: '/cdn-cgi/challenge-platform/h/g'
        }
    })();</script>
</body>
